.catalog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-x: auto;
    min-height: 100vh;
  }
  
  .section {
    margin-bottom: 20px;
    text-align: left;
    flex-grow: 1;
  }
  
  .movie-list {
    display: flex;
  }
  
  .movie-poster {
    width: 170px;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    justify-content: "space-between";
  }
  
  .movie-poster:last-child {
    margin-right: 0;
  }
  
  .movie-poster:hover {
    transform: scale(1.05);
  }
  
  .Titulo-section {
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  
  .movie-link {
    margin: 10px;
}