body {
  margin: 0; 
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  position: relative; 
  text-align: center; 
}

.petflix-logo {
  width: 200px;
  height: 200px;
  position: absolute; 
  top: -200px; 
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 1; 
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dogProfile,
.catProfile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: transform 0.3s ease;
  margin: 10px;
}

.dogProfile:hover,
.catProfile:hover {
  transform: scale(1.1);
}

.image-item {
  position: relative;
}

.left,
.right {
  position: absolute;
  color: white;
  padding: 5px;
  font-size: 24px; 
  font-family: 'Arial', sans-serif; 
  white-space: nowrap;
}

.left {
  left: 200px; 
}

.right {
  right: 200px;
}


.dogProfileTitle{
  color: #FFFFFF;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 15px;
}


