
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  
  .petflix-header {   
    height: 100px;
    width: 100%;  
  
  }
  
  .button-row{
  
    padding: 30px;
  }

  
  
  .petflix-logo {
    width: 100px;
    height: 100px;
    padding: 10px;
  
  }
  
  .menu-itens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .petflix-sign-in {  
    background-color: red; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
  
  
  }

  .player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .petflix-sign-in:hover {
    background-color: #e50914;  
  
  }
  
  .back-button {
    position: absolute;
    top: 10px; 
    left: 20px;
    font-size: 24px; 
    color: white; 
    text-decoration: none; 
  }
  

  @media (max-width : 1230px)  {
    .back-button {
      position: absolute;
      top: 5px;
      left: 20px;
      font-size: 24px; 
      color: white; 
      text-decoration: none; 
    }
    
     
 
  }